.auth-header {
    height: 150px;
    /* background: linear-gradient(to right, #0b0b45 , #00ffff); */
    background: linear-gradient(90deg, #0b0b45 0%, #090979 35%, #00ffff 100%);
    border-radius: 15px;
    /* border-bottom-right-radius: 15px; */
}


.auth-header h1 {
    padding-top: 40px;
    font-size: 26px;
    font-weight: 600;
    color: white;
}

p{
    margin-top: 10px;
    font-size: 16px;
    color: white;
}

.content-container {
    width: 100%;
    height: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-login {
    width: 70%;
    border-radius: 20px;
    height: 40px;
    background-color: white;
    border: 1px solid #747775;
    color: #1F1F1F;
    font-weight: 500;
}

.google-signup {
    width: 70%;
    border-radius: 20px;
    height: 40px;
    background-color: white;
    border: 1px solid #747775;
    color: #1F1F1F;
    font-weight: 500;
}

.footer-text {
    font-size: 12px;
    margin-bottom: 25px;
    color: black;
    text-align: center;
}
.auth-text {
    color: #5579a2;
    cursor: pointer;
}

.minus-button {
float: right;
margin-right: 10px;

}

.message-box {
    /* height: 130px; */
    width: 85%;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.173);
}

.top {
    height:40%;
    background-color: rgba(128, 128, 128, 0.173);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.top p {
    text-align: center;
    margin-top: 0;
    color: black;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
}
.google-button {
    display: flex;
    justify-content: center;
}
.microsoft-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.signInButtonMicrosoft {
    width: 70%;
    border-radius: 20px;
    height: 40px;
    background-color: white;
    border: 1px solid #747775;
    color: #1F1F1F;
    font-weight: 500;
}