/* chatbot.css */

.messages-container {
    height: 330px;
    overflow-y: auto;
    margin-bottom: 10px;
    overflow-x: hidden;
    /* background-color: rgba(92, 139, 193, 0.138); */


}

.chatbot-container {
    width: 350px;
    border: 2px solid #d9dcdd;
    background-color: white;
    margin-left: 20px;
    height: 450px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    position: fixed;
    bottom: 70px;
    right: 40px;
}

.input-container {
    display: flex;
    padding-top: 10px;
    position: absolute;
    bottom: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 90%;
}


input {
    flex-grow: 2;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(190, 186, 186);
    border-radius: 20px;
    color: #000000;
    width: 90%;
}

.message-button {
    margin-bottom: 5px;
}

.submit-button {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(90deg, #0b0b45 0%, #090979 35%, #00ffff 100%);
    cursor: pointer;
    transition: background 0.5s;
}

.chatbot-header {
    background: linear-gradient(90deg, #0b0b45 0%, #090979 35%, #00ffff 100%);
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin: 0 !important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.minus-button {
    margin-left: 100px;
    background: none;
    border: none;
}

.message-row {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.message-row.bot {
    justify-content: flex-start;
}

.message {
    padding: 5px;
    border-radius: 5px;
    /* background-color: #d7d7d7; */
    margin: 0 10px;
    color: #000;
    /* Black text color */
}

.message.user {
    border-bottom-right-radius: 0;
    background-image: url('../user.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% 5px;
    /* padding-right: 60px; */
    /* float: left; */
    /* width: 60%; */
    border-radius: 15px;
    margin-right: -3px;
}

.rce-mbox {
    box-shadow: none !important;
    background-color: rgba(228, 228, 228, 0.729) !important;
    border-radius: 15px !important;
    max-width: 230px;
}

.rce-mbox.rce-mbox-right .rce-mbox-title {
    color: rgba(255, 255, 255, 0.8) !important;
}

.rce-mbox.rce-mbox-right {
    margin-top: 20px !important;
    background: linear-gradient(90deg, #0b0b45 0%, #090979 35%, #00ffff 100%) !important;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.rce-mbox.rce-mbox-right .rce-mbox-time {
    color: rgba(255, 255, 255, 0.633) !important;
}

.rce-mbox.rce-mbox-left {
    background-color: grey;
    color: white;
    border-radius: 15px;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.rce-mbox-right-notch {
    display: none;
}

.rce-mbox-left-notch {
    display: none;
}

.message.bot {
    /*background-color: #0a429c;*/
    border-bottom-left-radius: 0;
    /* Bot's image icon */
    /* background-image: url('../chatbot.webp');*/
    background-image: url('../ovesLogoimage.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5px 5px;
    padding-left: 5px;
    padding-top: 30px;
    /* Adjust based on your icon's width */
    float: right;
    /* Align bot messages to the left */
    clear: both;
    /* Clear floats */
    color: black;
    font-weight: 500;
    /* width: 80%; */
    max-width: 200px;

}

/* .message.bot {
    background-color: #E1FFC7;
} */


input:focus {
    outline: none;
    box-shadow: 0 0 5px #93c3d3;
}



.submit-button:hover {
    background-color: #a0d2ea;
}


.body {
    background-color: #c1c4d70b;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.initialize-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    /* border: 1px solid rgba(0, 0, 0, 0); */


    background: linear-gradient(to bottom right, #0b0b45 0%, #090979 35%, #00ffff 100%);
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.initialize-button p {
    margin-top: 10px;
    margin-left: 5px;
}


.informative-text {
    color: black;
    font-weight: 400;
    font-size: 14px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right: 80px;
    background-color: #dad9d9;
}

.informative-text p {
    padding: 10px;
    color: black !important;
    margin-top: 0px !important;
}

.initialize-chat-section span {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
}

.initialize-chat-section svg {
    margin-left: 10px;
}

.close-icon-button {
    border: none;
    background: none;
    position: fixed;
    bottom: 98px;
    right: 328px;
}

.response-style {
    border: 1px solid rgba(228, 228, 228, 0.729);
    background-color: rgba(228, 228, 228, 0.729);
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 40px;
    width: 270px;
    height: 230px;
}

.response-style p {
    margin-top: 10px;
    color: black;
    text-align: center;
    font-size: 13.5px;
    font-weight: 600;
}

.response-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating {
    height: 38px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating p {
    margin-top: -8px;
    font-weight: 400;
}

.feedback {
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: center;
}

.feedback textarea {
    margin-top: 10px;
    height: 70px;
    width: 200px;
    border-radius: 5px;
    border: none;
    font-size: 11px;
    padding-left: 10px;
}

.feedback textarea::placeholder {
    font-size: 11px;
    text-indent: 10px;
}

.feedback textarea:focus {
    outline: none;
}

.response-button {
    font-size: 14px;
    width: 200px;
    border-radius: 30px;
    border: none;
    color: white;
    background: linear-gradient(90deg, #0b0b45 0%, #090979 35%, #00ffff 100%);
    height: 30px;
}



/* @media only screen and (max-width: 370px) {
    .chatbot-container {
        width: 300px;
    }
}

@media only screen and (max-width: 350px) {
    .chatbot-container {
        width: 290px;
    }
}

@media only screen and (max-width: 330px) {
    .chatbot-container {
        width: 270px;
    }
}

@media only screen and (max-width: 310px) {
    .chatbot-container {
        width: 260px;
    }
}

@media only screen and (max-width: 305px) {
    .chatbot-container {
        width: 255px;
    }
}

@media only screen and (max-width: 300px) {
    .chatbot-container {
        width: 255px;
    }
} */