/* chatbot.css */

.messages-container {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
    /*max-height: 400px;
    overflow-y: auto;*/
    background-color: rgba(92, 139, 193, 0.138);


}

.chatbot-header {
    background-color: #5579a2;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 25px 25px 0 0;
    text-align: center;
    font-weight: bold;


}

.message-row {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.message-row.bot {
    justify-content: flex-start;
}

.message {
    padding: 5px;
    border-radius: 5px;
    /* background-color: #d7d7d7; */
    margin: 0 10px;
    color: #000;
        /* Black text color */
}

.message.user {
    /* background-color: #c0c1c1; */

    border-bottom-right-radius: 0;
    /* User's image icon */
    background-image: url('../user.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% 5px;
    padding-right: 60px;
    /* Adjust based on your icon's width */
    float: left;
    width: 60%;
}
.message.bot {
    /*background-color: #0a429c;*/
    border-bottom-left-radius: 0;
    /* Bot's image icon */
    /* background-image: url('../chatbot.webp');*/
    background-image: url('../ovesLogoimage.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5px 5px;
    padding-left: 40px;
    /* Adjust based on your icon's width */
    float: right;
    /* Align bot messages to the left */
    clear: both;
    /* Clear floats */
    /* background-color: #e0dddf; */
    color: rgb(0, 0, 0);
    width: 80%;
}
/* .message.bot {
    background-color: #E1FFC7;
} */

.input-container {
    display: flex;
    border-top: 1px solid #4075b1;
    padding-top: 10px;
}

input {
    flex-grow: 2;
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: #7d98c632;
    color: #000000;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px #93c3d3;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5579a2;
    color: #080000;
    cursor: pointer;
    transition: background 0.5s;
}

button:hover {
    background-color: #a0d2ea;
}

.chatbot-container {
    width: 900px;
    position: fixed;
    top: 40px;
    left: 20px;
    border: 2px solid #d9dcdd;
    padding: 20px;
    border-radius: 20px;
    background-color: #f3f3f32e;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    margin-left: 20px;
    height: 100;
}

.body {
    background-color: #c1c4d70b;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 576px) {
    .chatbot-container {
        width: 80%;
        padding: 20px;
        left: 10;
        border-radius: 0;
    }

    .messages-container {
        max-height: 300px;
    }

    .message {
        max-width: 80%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .chatbot-container {
        width: 80%;
        left: 20%;
    }
}


#chatbot-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    /* Style as needed */
}

#chatbot-container {
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 1000;
    /* Additional styling as needed */
}

/* chathistory container*/

/* .chatbot-container {
    display: flex;
    flex-direction: row;
    height: 100%; */


/* .chat-conversation-container {
    /* Your existing styles for the chat container */


/* .chat-history-container {
    border-left: 1px solid #ccc;
    overflow-y: auto;
    /* If you want a scrollable history */


/* .chat-history-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
} */

/* .new-chat-button {
    /* Style your new chat button */


/* .chat-history-content {
    padding: 10px;
    /* Styles for your chat history list */

