/* chatbot.css */

/* General Styles */
.body {
    background-color: #c1c4d70b;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#chatbot-icon-container {
    position: fixed;
    bottom: 10px;
    /* Adjust so it appears above the chat UI */
    right: 20px;
    z-index: 1002;
    /* Higher than the chat UI */
    cursor: pointer;
    border-radius: 50%;
    /* Makes it round */
    /* Add more styles if needed */
}

#chatbot-icon-container img {
    border-radius: 50%;
    /* Makes the image inside the container round */
}

/* Chatbot Close Button */
.chatbot-close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    /* Style the close button as needed */
}

/* Chatbot Container */
.chatbot-container.closed {
    display: none;
}

.chatbot-container.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 50px;
        /* Height of the icon plus some margin */
    right: 10px;
    width: 300px;
    /* Adjust width as needed */
    height: 500px;
    /* Adjust height as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 1001;
}

/* Messages Container */
.messages-container {
    flex-grow: 1;
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
    background-color: rgba(92, 139, 193, 0.138);
}

/* Chat Header */
.chatbot-header {
    background-color: #5579a2;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 25px 25px 0 0;
    text-align: center;
    font-weight: bold;
}

/* Message Rows and Messages */
.message-row {
    display: flex;
    margin: 10px 0;
}

.message-row.bot {
    justify-content: flex-start;
}

.message-row.user {
    justify-content: flex-end;
}

.message {
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
    color: #000;
    max-width: 100%;
    word-break: break-word;
    /* Add specific styles for user and bot messages if needed */
}

.message.user {
    border-bottom-right-radius: 0;
    /* background-image: url('./imagess/user.png'); */
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 100% 0px;
    /* padding-right: 10px; */
    float: left;
    width: 100%;
}

.message.bot {
    border-bottom-left-radius: 0;
    /* background-image: url('../imagess/ovesLogoimage.png'); */
    background-repeat: no-repeat;
    /* background-size: 25px; */
    /* background-position: 5px 5px; */
    /* padding-left: 40px; */
    float: right;
    clear: both;
    color: rgb(0, 0, 0);
    width: 100%;
}

/* Input Container */
.input-container {
    display: flex;
    border-top: 1px solid #4075b1;
    padding-top: 10px;
}

/* Input and Button */
input {
    flex-grow: 2;
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: #7d98c632;
    color: #000000;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px #93c3d3;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5579a2;
    color: #080000;
    cursor: pointer;
    transition: background 0.5s;
}

button:hover {
    background-color: #a0d2ea;
}

/* Responsive Design Adjustments */
@media (max-width: 576px) {
    .chatbot-container {
        width: 80%;
        padding: 20px;
        right: 10px;
        /* Adjust for small screens */
        border-radius: 0;
    }

    .messages-container {
        max-height: 300px;
    }

    .message {
        max-width: 80%;
    }
}

/* Responsive Design Adjustments */
@media (max-width: 576px) {
    .chatbot-container.open {
        width: 80%;
        padding: 10px;
        right: 10px;
        /* Adjust for small screens */
        border-radius: 10px;
    }

    .messages-container {
        max-height: 300px;
    }

    .message {
        max-width: 80%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .chatbot-container.open {
        width: 60%;
        /* Adjust for medium screens */
        right: 20%;
        /* Centering on medium screens */
    }
}
